@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffeef2;
}

img {
  max-width: 100%;
  object-fit: cover;
}
.scroll-container {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.scroll-track {
  display: inline-flex;
  backface-visibility: hidden;
  transform: translateZ(0);
  animation: scroll 35s linear infinite;
  will-change: transform;
}

.scroll-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-85%);
  }
}
@media (max-width:600px) {
  .scroll-track {
  display: inline-flex;
  animation: scroll 15s linear infinite;
 
}
}
